openapi: 3.0.1
info:
  title: micro-gate
  description: This is the documentation of micro-gate REST API specification.
  version: 1.0.0
servers:
  - url: //www.pactindo.com/v1
tags:
  - name: customer
    description: Everything about Customer
  - name: account
    description: Everything about Account
  - name: transfer
    description: Everything about Transfer
  - name: purchase
    description: Everything about Purchase and Payment
  - name: nik
    description: Everything about NIK
  - name: sikp
    description: Everything about SIKP
  - name: flpp
    description: Everything about FLPP
paths:
  /customer/findByAcc:
    get:
      tags:
        - 'customer, account'
      summary: Find Customer by Account Number
      operationId: findCustByAcc
      parameters:
        - name: accountNumber
          in: query
          description: Account Number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              examples:
                sampleCustomer-findByAcc:
                  value: >-
                    {"responseCode":"00","description":"SUCCESS","data":{"clearBalance":"4497352664","currency":"360","customerName":"WAHYUDI","productCode":"101","productName":"","account":"00102010046625","availableBalance":"50000"}}
  /customer/findByCif:
    get:
      tags:
        - customer
      summary: Find Customer by CIF Number
      operationId: findCustByCif
      parameters:
        - name: cifNumber
          in: query
          description: Account Number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
  /customer/findByNIK:
    get:
      tags:
        - 'customer, nik'
      summary: Find Customer by NIK
      operationId: findCustByNIK
      parameters:
        - name: accountNumber
          in: query
          description: Account Number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
  /account/findSaving:
    get:
      tags:
        - account
      summary: Find Saving Account
      operationId: findSavingAccount
      parameters:
        - name: cifNum
          in: query
          description: CIF Number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /account/findLoan:
    get:
      tags:
        - account
      summary: Find Loan Account
      operationId: findLoanAccount
      parameters:
        - name: cifNum
          in: query
          description: CIF Number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /account/findDeposit:
    get:
      tags:
        - account
      summary: Find Deposit Account
      operationId: findDepositAccount
      parameters:
        - name: cifNum
          in: query
          description: CIF Number
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
components:
  schemas:
    Customer:
      type: object
      properties:
        account:
          type: string
          description: account number
          example: '0123456'
        customerName:
          type: string
          example: Siwi Arie Widadi
        currency:
          type: string
          example: '360'
        productCode:
          type: string
          example: '001'
        productName:
          type: string
          example: SIMPEDA
        clearBalance:
          type: string
          example: '18031.29'
          description: 'Format: Number, 13.2'
        availableBalance:
          type: string
          example: '18031.30'
          description: 'Format: Number, 13.2'
    CustomerResponse:
      type: object
      properties:
        responseCode:
          type: string
          example: '00'
        description:
          type: string
          example: SUCCESS
        data:
          $ref: '#/components/schemas/Customer'
    Account:
      type: object
      properties:
        account:
          type: string
          description: account number
          example: '0123456'
        name:
          type: string
          example: Siwi Arie Widadi
        productCode:
          type: string
          example: '001'
        productName:
          type: string
          example: SIMPEDA
        accStatus:
          type: string
          example: A
        accType:
          type: string
          example: '1'
        currency:
          type: string
          example: '360'
        plafond:
          type: string
          example: '18031.28'
          description: 'Format: Number, 13.2'
        clearBalance:
          type: string
          example: '18031.29'
          description: 'Format: Number, 13.2'
        workingBalance:
          type: string
          example: '18031.30'
          description: 'Format: Number, 13.2'
